.itemsList-ul {
  list-style-type: none;
}

.itemsList-ul li {
  padding: 5px;
}

.remove-button {
  cursor: pointer;
  visibility: hidden;
  margin-left: 10px;
  color: red;
}

.itemsList-ul li:hover .remove-button {
  visibility: visible;
}

.itemCompleted .itemText {
  text-decoration: line-through;
}

.itemText {
  cursor: pointer;
}